body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
  margin: 0 auto;
  width: 30%;
  padding-top: 2em;
}

.textCenter {
  text-align: center;
}
.review {
  margin: 0 auto;
  width: 80%;
  padding-top: 2em;
  padding-bottom: 4em;
}