<div class="center">
    <div class="jumbotron textCenter">
        <div class="alert alert-danger " role="alert">
           <h4> There was an error while creating your profile. Please fill the info again.</h4>
        </div>

        <div>
            <a href="javascript:window.location.assign('/')">
                <button type="button" class="btn btn-primary">Home</button>
            </a>
        </div>
    </div>

</div>