<div class="center">
    <div class="textCenter"><h5>Social-Media Information</h5></div>
    <div class="form-group">
        <label for="fb">Facebook</label>
        <input type="text" class="form-control" id="fb" placeholder="Enter Facebook profile URL" ng-model="profile.fb">
    </div>
    <div class="form-group">
        <label for="twitter">Twitter</label>
        <input type="text" class="form-control" id="twitter" placeholder="Enter Twitter Handle" ng-model="profile.twitter">
    </div>
    <div class="form-group">
        <label for="insta">Instagram</label>
        <input type="text" class="form-control" id="insta" placeholder="Enter Instagram profile URL"
               ng-model="profile.insta">
    </div>
    <div class="form-group">
        <label for="yt">Youtube</label>
        <input type="text" class="form-control" id="yt" placeholder="Enter Youtube" ng-model="profile.yt">
    </div>
    <div class="form-group">
        <label for="twitch">Twitch</label>
        <input type="text" class="form-control" id="twitch" placeholder="Enter Twitch URL" ng-model="profile.twitch">
    </div>
    <div class="form-group">
        <label for="snap">SnapChat</label>
        <input type="text" class="form-control" id="snap" placeholder="Enter SnapChat URL" ng-model="profile.snap">
    </div>

    <div class="float-right">
        <a ui-sref="profileForm.miscellaneous">
            <button type="button" class="btn btn-primary">Next Step</button>
        </a>
    </div>
</div>
