<div class="center">
    <div class="jumbotron textCenter">
        <h2>Success !!</h2>
        <h4>Your profile has been successfully registered.</h4>
        <div>
            <a href="javascript:window.location.assign('/')">
                <button type="button" class="btn btn-primary">Home</button>
            </a>
        </div>
    </div>

</div>